*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Start with standard CSS reset */

main {
    margin:auto ;
    background-color: white;
}
section {
margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10%;
  align-content: center;
  width: 500px;
  height: fit-content;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px lightslategrey ;
}

section:first-of-type {
    margin-top: 50px;
}
section:last-of-type{
    margin-bottom: 50px;
}
.see {
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    width: auto;
    height: auto;
    background-color: indianred;
}

ul{
    display: flex;
    flex-direction: row;
    /*
    justify-content: center;
    align-content: center;*/
    font-size: large;
}
li{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;

}
li span{
    display: flex;
    width: 100%;
    color: lightslategray;
}
h1 {
  color: indianred;
}
/*.figure{
    display: inline-block;
}*/
.tim-berners {
    border-radius: 50%;
    border-width: 22px;
    border-color: blue;
}
a:link {
  text-decoration: none;
}

h4{

  color: grey;
}

.Movies{
display: flex;
flex-direction: column;
}

article{
display: flex;
flex-direction: row;

}
.Synopsis{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}



figure{
/*
  display: flex;

  justify-content: flex-start;
}

article{
  display: flex;
  justify-content: flex-end;
}*/